/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.infoText ul {
    list-style: circle;
    padding-left: 20px;
}

.infoText li {
    margin: 4px;
    font-size: 16px;
}

.header, .Information {
    background-color: #102542;
    color: white;
    padding: 16px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 16px;
}

.Links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.Information {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #102542;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.Information img, .Web-Dev-Projects img, .Game-Dev-Projects img, .Software-Dev-Projects img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.Web-Dev-Projects, .Game-Dev-Projects, .Software-Dev-Projects {
    color: black;
    padding: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}

.Web-Dev-Projects {
    background-color: #CDD7D6;
}

.Game-Dev-Projects {
    background-color: #ffe4c4;
}

.Software-Dev-Projects {
    background-color: #d5cfff;
}


.WProject1, .WProject2, .GProject1, .SProject1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.Information .LeftHalf {
    max-width: 60%; 
    margin-right: 20px;
}

.Information img {
    max-width: 35%;
    height: auto;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.LeftHalf {
    width: 100%;
    max-width: 850px;
    margin: 8px;
}

.infoText {
    text-align: left;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #102542;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .Links {
        gap: 16px;
    }

    .Information, .Web-Dev-Projects, .Game-Dev-Projects, .Software-Dev-Projects {
        flex-direction: row;
        justify-content: space-between;
        padding: 32px;
        text-align: left;
    }

    .WProject1, .WProject2, .GProject1, .SProject1 {
        flex-direction: row;
        margin: 32px 0;
    }

    .infoText {
        max-width: 500px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 32px;
    }
}


.fade-in {
    opacity: 0;
    transition: opacity 2000ms ease-in;
    
}

.fade-in.appear {
    opacity: 1;
}


.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: opacity 1500ms ease-in, transform 1000ms ease-in;
    opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}