body {
    font-family: 'Roboto', sans-serif; /* or any other font from the suggestions */
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    margin:0;
    
}

ul {
    list-style-type: none;
    margin: 0px;
    padding:0px;
  }

.infoText ul {
    list-style: circle;
}

.infoText li {
    margin: 4px;
    font-size: 16px;
   


}

  
.header, .Information {
    height: 150px;
    background-color: #102542;
    color: white;
    padding:8px;
    
}  

.header {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.Information {
    display:flex;
    justify-content: space-around;
    height: 400px;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.Information .infoText {
    width: 700px;
}

.Information img {
    width: 400px;
    height: auto;
    border-radius: 5%;
}

.LeftHalf {
    width: 500px;
}

.Web-Dev-Projects {
    height: 1500px;
    background-color: #CDD7D6;
    color: black;
    padding:8px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    

}

.Web-Dev-Projects .infoText {
    font-size: 24px;

    display: flex;

}

.WProject1, .WProject2, .GProject1, .SProject1 {
    display: flex;
    flex:1;
    justify-content: space-between;
    margin: 50px;
}

.Web-Dev-Projects .LeftHalf {
    width: 850px;
    margin: 8px;
}

.Information .LeftHalf {
    width: 850px;
    margin: 8px;
}

.Web-Dev-Projects ul, .Game-Dev-Projects ul {

    margin: 8px;
}

.Game-Dev-Projects {
    height: 650px;
    background-color: #B3A394;
    color: black;
    padding:8px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    

}

.Software-Dev-Projects {

    height: 900px;
    background-color: #ADD8E6;
    color: black;
    padding:8px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.Game-Dev-Projects img {
    width: 400px;
    height: 300px;
}

.Game-Dev-Projects .LeftHalf, .Software-Dev-Projects .LeftHalf {
    width: 850px;
    margin: 8px;
}

.Game-Dev-Projects .infoText {
    font-size: 24px;

    display: flex;
}

.Software-Dev-Projects .infoText {
    font-size: 24px;

    

}

 
H3 {
    font-size: 48px;
    font-weight: 700;
    display: flex;
    font-family: 'Montserrat', sans-serif; /* For headings */
    padding:8px;
    
}

.Links {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    gap: 24px;
}

H4 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    font-family: 'Montserrat', sans-serif; /* For headings */
    padding:8px;
    
}

img {
    width: 400px;
    height: auto;
    border-radius: 5%;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #102542;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

a:link {
    color: White;
    background-color: transparent;
    text-decoration: none;
  }

.LeftHalf a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;

} 

.LeftHalf a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;

} 
  
  a:visited {
    color: White;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover, .LeftHalf a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active, .LeftHalf a:hover {
    color: rgb(0, 140, 255);
    background-color: transparent;
    text-decoration: underline;
  }